@model MyBlogApplication.Models.BlogPost
<!-- Bootstrap Core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!-- Custom Fonts -->
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<!-- Theme CSS -->
<link href="~/Content/agency.min.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

@*<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>
            @if (Model.MediaURL != null)
            {

                <img class="img-responsive" src="@Model.MediaURL" alt="">
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

<section id="portfolio" class="bg-light-gray">
    <section class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Details</h1>
                <h2 class="section-subheading text-muted">Blog Posts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 portfolio-item">
                <div class="portfolio-link" >
                    @if (Model.MediaURL != null)
                    {

                        <img class="img-responsive" src="@Model.MediaURL" alt="">
                    }
                </div>
                <div class="portfolio-caption">
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                    <div class="dl-horizontal">


                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Title)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.Title)</div>

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Slug)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.Slug)</div>

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Body)</div>
                        <div class="col-md-8">@Html.Raw(Model.Body)</div>

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Published)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.Published)</div>

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Created)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.Created)</div>
                        @if (Model.Updated.HasValue)
                        {
                            <div class="col-md-4" style="font-weight: bold"> @Html.DisplayNameFor(model => model.Updated)</div>
                            <div class="col-md-8">@Html.DisplayFor(model => model.Updated)</div>
                        }
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
