@model MyBlogApplication.Models.BlogPost
<!-- Bootstrap Core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!-- Custom Fonts -->
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<!-- Theme CSS -->
<link href="~/Content/agency.min.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

<section id="portfolio" class="bg-light-gray">
    <section class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Details</h1>
                <h2 class="section-subheading text-muted">Blog Posts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 portfolio-item">
                <div class="portfolio-link" >
                    @if (Model.MediaURL != null)
                    {
                        <img class="img-responsive" src="@Model.MediaURL" alt="">
                    }
                </div>
                <div class="portfolio-caption">
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                    <div class="dl-horizontal">

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Title)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.Title)</div>

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Slug)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.Slug)</div>

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Body)</div>
                        <div class="col-md-8">@Html.Raw(Model.Body)</div>

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Published)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.Published)</div>

                        <div class="col-md-4" style="font-weight: bold">@Html.DisplayNameFor(model => model.Created)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.Created)</div>
                        @if (Model.Updated.HasValue)
                        {
                            <div class="col-md-4" style="font-weight: bold"> @Html.DisplayNameFor(model => model.Updated)</div>
                            <div class="col-md-8">@Html.DisplayFor(model => model.Updated)</div>
                        }
                        <div class="col-md-12" style="font-weight: bold; text-align: left; font-size: 16px"> Comments :</div>

                        <div>

                            @foreach (var comment in Model.Comments)
                            {
                                <hr />
                                @comment.Author.DisplayName
                                <p style="text-align: left; margin-left: 70px">
                                    @comment.Body
                                    <span style="font-size: 10px; text-align: right">
                                        - @comment.Created.ToString("dd/mm/yyyy hh:mm")
                                    </span>
                                    @if (User.Identity.IsAuthenticated &&
                                    (User.IsInRole("Admin") || User.IsInRole("Moderator")))
                                    {
                                        <div>
                                            <a href="@Url.Action("Edit", "Comments", new { id = comment.Id } )">Edit Comment</a>
                                            | <a href="@Url.Action("Delete", "Comments", new { id = comment.Id })">Delete Comment</a>
                                        </div>
                                    }
                                </p>
                            }
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div style="font-weight: bold">
                                Submit your comment!
                            </div>
                            <div>
                                @using (Html.BeginForm("DetailsSlug", "BlogPosts", FormMethod.Post))
                                {
                                    <input type="hidden" name="slug" value="@Model.Slug" />
                                    <textarea name="Body"></textarea>
                                    if (ViewBag.ErrorMessage != null)
                                    {
                                        <span>@ViewBag.ErrorMessage</span>
                                    }
                                    <input type="submit" value="submit" />
                                }
                            </div>
                        }
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
