@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<MyBlogApplication.Models.BlogPost>
<!-- Bootstrap Core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!-- Custom Fonts -->
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">
<!-- Theme CSS -->
<link href="~/Content/agency.min.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    var pagedList = (IPagedList)Model;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">Index</h1>
            <h3 class="section-subheading text-muted">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Create New", "Create")
                }
            </h3>
            @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get))
            {
                <input type="text" class="form-control" name="searchString" placeholder="Search for posts" value="@ViewBag.SearchString" />
                <input type="submit" class="btn btn-primary" value="Search!" />
            }
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            @if (item.MediaURL != null)
                            {
                                <img class="img-circle img-responsive" src="@item.MediaURL" alt="">
                            }
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                                <h5>
                                    @Html.DisplayNameFor(model => model.Created) : @Html.DisplayFor(modelItem => item.Created)
                                </h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Html.Raw(item.Body)</p>
                                <p>@Html.DisplayNameFor(model => model.Published) : @Html.DisplayFor(modelItem => item.Published)</p>
                            </div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { Slug = item.Slug }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page, ViewBag.SearchString }))

